{% block body%}
{% load social_bookmarking_tags %}
<h1>
    Django Social Bookmarking Test
</h1>

{{ request.META.HTTP_HOST }}

<dl>
    <dt>request.path</dt>
    <dd>{% show_bookmarks "my page" request.path %}</dd>

    <dt>/</dt>
    <dd>{% show_bookmarks "my page" "/" %}</dd>

    <dt>/path/to/something</dt>
    <dd>{% show_bookmarks "my page" "/path/to/something" %}</dd>

    <dt>http://www.google.com/</dt>
    <dd>{% show_bookmarks "my page" "http://www.google.com/" %}</dd>
</dl>


{% endblock %}
